.header {
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 27px;
        font-size: 16px;

        padding: 50px 0 18px;
        border-bottom: 0.1px solid #d8d8d8;

        .menu {
            display: flex;

            .logo,
            .site-menu,
            .account-menu {
                display: flex;
            }

            .site-menu {
                gap: 64px;
                padding-right: 48px;
                border-right: 1px solid #d8d8d8;
            }

            .account-menu {
                padding-left: 48px;
                gap: 39px;
            }
        }
    }
}
